@font-face {
  font-family: "Nanum Square Neo";
  font-weight: 300;
  font-display: swap;
  src: local("NanumSquare Neo Light"),
    url("$assets/fonts/nanum-square-neo/NanumSquareNeoTTF-aLt.woff2")
    format("woff2"),
    url("$assets/fonts/nanum-square-neo/NanumSquareNeoTTF-aLt.woff")
    format("woff"), url("$assets/fonts/nanum-square-neo/NanumSquareNeo-aLt.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nanum Square Neo";
  font-weight: 400;
  font-display: swap;
  src: local("NanumSquare Neo Regular"),
    url("$assets/fonts/nanum-square-neo/NanumSquareNeoTTF-bRg.woff2")
    format("woff2"),
    url("$assets/fonts/nanum-square-neo/NanumSquareNeoTTF-bRg.woff")
    format("woff"), url("$assets/fonts/nanum-square-neo/NanumSquareNeo-bRg.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nanum Square Neo";
  font-weight: 700;
  font-display: swap;
  src: local("NanumSquare Neo Bold"),
    url("$assets/fonts/nanum-square-neo/NanumSquareNeoTTF-cBd.woff2")
    format("woff2"),
    url("$assets/fonts/nanum-square-neo/NanumSquareNeoTTF-cBd.woff")
    format("woff"), url("$assets/fonts/nanum-square-neo/NanumSquareNeo-cBd.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nanum Square Neo";
  font-weight: 800;
  font-display: swap;
  src: local("NanumSquare Neo ExtraBold"),
    url("$assets/fonts/nanum-square-neo/NanumSquareNeoTTF-dEb.woff2")
    format("woff2"),
    url("$assets/fonts/nanum-square-neo/NanumSquareNeoTTF-dEb.woff")
    format("woff"), url("$assets/fonts/nanum-square-neo/NanumSquareNeo-dEb.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nanum Square Neo";
  font-weight: 900;
  font-display: swap;
  src: local("NanumSquare Neo Heavy"),
    url("$assets/fonts/nanum-square-neo/NanumSquareNeoTTF-eHv.woff2")
    format("woff2"),
    url("$assets/fonts/nanum-square-neo/NanumSquareNeoTTF-eHv.woff")
    format("woff"), url("$assets/fonts/nanum-square-neo/NanumSquareNeo-eHv.ttf")
    format("truetype");
}
